@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@import "./core";
@import "./responsive";

#main-logo h3 {
  text-align: center;
  margin-left: -20px;

  a {
    color: #ff8158;

    &:hover {
      color: #fff;
    }
  }

  span {
    font-weight: 600;
    color: #fff;
  }
}